<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_name">
    <!-- base_link -->
    <link name="base_link">
        <!-- 可视化部分 -->
        <visual>
            <!-- 相对偏移和旋转部分 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <!-- 几何形状 -->
            <geometry>
                <cylinder radius="0.50" length="0.9" />
            </geometry>
            <!-- 颜色 -->
            <material name="white">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
    </link>

    <!-- imu_link -->
    <link name="imu_link">
        <!-- 可视化部分 -->
        <visual>
            <!-- 相对偏移和旋转部分 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <!-- 几何形状 -->
            <geometry>
                <box size="0.02 0.02 0.02" />
            </geometry>
            <!-- 颜色 -->
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0" />
            </material>
        </visual>
    </link>
    <!-- joint 链接两个 Link -->
    <joint name="base_imu" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
</robot>